.App {
  text-align: center;
}


/***************Header-Navigation***************/

/*
- agregar responsive
- agregar logo
*/

.header-container{
	background-color: #704819;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
- agregar responsive
*/

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 590px;
  height: 62px;
  background-color: #F7941D;
  border-radius: 8px;
  font-size: 0px;
}

/*
- agregar responsive
*/

.navLink{
	height: 100%;
	font-size: 30px;
	display: inline-block;
	margin: 20px  auto 0;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

.navbar .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

.navLink:nth-child(1) {
	width: 200px;
}

.navLink:nth-child(2) {
	width: 200px;
}


.navLink:nth-child(3) {
	width: 200px;
}

.navbar .start-home, .navLink:nth-child(1):hover~.animation {
	width: 200px;
	left: 0;
	background-color: #CDBDA0;
}

.navbar .start-about, .navLink:nth-child(2):hover~.animation {
	width: 200px;
	left: 200px;
	background-color: #CDBDA0;
}

.navbar .start-about, .navLink:nth-child(3):hover~.animation {
	width: 200px;
	left: 395px;
	background-color: #CDBDA0;
}

/***************Banner-Welcome***************/

/*
- agregar responsive
*/
  
.banner-container {
	height: 650px;
	background-image: url('./components/Assets/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  h2{
	margin: 0;
  }

  /*
- Acomplar codigo 
- agregar responsive
*/
  
  
  .banner-text{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
  }	

  @keyframes fadeInLetter {
	0% {
	  opacity: 0;
	  transform: translateY(10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .banner-text span {
	opacity: 0;
	animation: fadeInLetter 0.8s ease-in-out forwards;
  }
  


/***************Menu***************/


.container{
	display: grid;
	grid-template-columns: repeat(3, 0.35fr);
	grid-gap: 2px;
	justify-items: center;
	align-items: center;
	height: auto;
	background-color: #2E2929;
}

/*
- agregar mas interaccion
*/

.img{
	height: 200px;
	width: 200px;
	border: 1px solid black;
	margin-top: 30px;
	margin-bottom: 20px;
	
}


/***************button***************/

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 200px;
	width: auto;
	background-color: #2E2929;
  }
  
  .download-button {
	border-radius: 5%;
	align-items: center;
	position: relative;
	height: 75px;
	width: 200px;
	background-color: #F7941D;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	

  }


/***************Footer***************/

.footer{
	background-color: #E99021;
	color: #FFFFFF;
	align-items: center;
	text-align: center;
}

a {
	text-decoration: none;
}

h3{
	margin: 0;
 }

